# Install the current directory as an editable package. Denpendencies required
# for installing the package and running unit tests are defined in setup.py.
-e .

# Include tox here instead of in setup.py because it is not _required_ for
# running unit tests but helps standardizing testing during development.
tox==2.8.0

# Include invoke in dev.
invoke==0.18.0
