# Install the current directory as an editable package. Denpendencies required
# for installing the package and running unit tests are defined in setup.py.
-e .

# Running tests.
pytest
pytest-cov
responses

# Running tests in multiple environments.
tox==3.4.0

# Include invoke in dev.
invoke==0.22.0
